.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}

.pikachu {
    padding: 9px;
    border: 2px solid rgb(209, 31, 209);
}

.meowth {
    padding: 9px;
    border: 1px solid rgb(223, 37, 167);
}

.psyduck {
    padding: 9px;
    border: 2px solid rgb(144, 30, 219);
}